<?xml version="1.0"?>

<robot name="disc1">

  <link name="disc1">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="0.1" />
      <inertia  ixx="1" ixy="0"  ixz="0"  iyy="1"  iyz="0"  izz="1"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://tower_of_hanoi/meshes/disc_100.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.008"/>
      <geometry>
        <cylinder length="0.022" radius="0.05"/>
      </geometry>
    </collision>
  </link>

  <gazebo reference="disc1">
    <mu1>10.0</mu1>
    <mu2>10.0</mu2>
    <maxVel>0.0</maxVel>
  </gazebo>

</robot>
